body, html{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 98%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
}
h2{
    font-weight: 600;
    color: white;
}
.logo{
    display: flex;
    align-items: center;
}
#cine{
    margin-left: 10px;
    font-size: 30px;
    font-weight: 600;
}
.logo img{
    height: 70px;
    width: 90px;
}
.navbar{
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}
.navbar li{
    margin: 0;
}
.navbar a{
    color: rgb(0, 0, 0);
    text-decoration:none;
    padding: 10px;
}
.navbar a:last-child{
    margin-right: 40px;

}
.search-bar{
    display: flex;
}
.search-bar input{
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.search-bar button{
    padding: 5px 10px;
    border: none;
    background: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
    border-radius: 5px;
}
marquee{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 0px;
    margin: 10px 0px;
    font-size:30px;
    font-weight: 600;
}
marquee img{
    height: 50px;
    width: 100;
}
.carousel{
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    margin-top: 192px;
}
.carousel-container{
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}
.carousel-slide{
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.carousel-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}
button.prev, button.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(111, 113, 113);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}
button.prev{
    left: 10px;
}
button.next{
    right: 10px;
}
.sections-grid{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}
.cartelera{
    grid-column: span 3;
    grid-row: 1 / 2;
    position: relative;
}
.movies{
padding-top: 15px;
display: grid;
grid-template-rows: 4, 0fr;
}
.dulceria{
    grid-column: span 2;
    grid-row: 2 / 3;
    position: relative;
}
.salas{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    position: relative;
    background-color: black;
}
.eventos{
    grid-column: 4 / 5;
    grid-row: 1 / span 2;
    position: relative;
}
.sections-grid div{
    position: relative;
}
/*.sections-grid img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}*/
.eventos img{
    height: 95%;
}
.section-label{
    padding: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    font-weight: 600;
    background: black;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}